<app-navbar [gioHang]=gioHang></app-navbar>
<section>
    <body class="container">
            <div class="pages row">
                <div class="item-img col-12 col-md-6">
                    <img src="https://file.hstatic.net/1000075078/file/grandview2_a48a6f2b6495492180138bfd09d22bb3_master.jpg" alt=""   >
                </div>
                <div class="contnet col-12 col-md-6">
                    <div class="intro">
                        <h2>HCM The Grand View</h2>
                        <p>Nhà mới Quận 7 toạ lạc tại khu đô thị The Grand View, với những khu phố hiện đại, sầm uất và nhộn nhiệp. Ghé Nhà Grand View ngay để cùng bạn bè thưởng thức món Nhà quen thuộc và ôn lại những kỉ niệm cùng bạn bè, người thân nhé.</p>
                    </div>
                    <div class="detail">
                        <p style="    font-weight: bold;">Địa chỉ</p>
                        <p>159 Nguyễn Đức Cảnh, Khu Grand View, Tân Phong, Quận 7, Thành phố Hồ Chí Minh</p>
                        <p style="    font-weight: bold;">Giờ mở cửa</p>
                        <p>7:00 - 22:00</p>
                        <div class="content-icon">
                            <p class="col-6">
                                <i class="	fas fa-car"></i>
                                Có chỗ đỗ xe hơi
                            </p>
                            <p class="col-6">
                                <i class="fas fa-laugh-beam"></i>
                                Thân thiện với gia đình
                            </p>
                            <p class="col-6">
                                <i class="fas fa-store-alt"></i>
                                Phục vụ tại chỗ
                            </p>
                            <p class="col-6">
                                <i class="	fas fa-shopping-basket"></i>
                                Mua mang đi
                            </p>
                        </div>
                        <hr>
                        <div class="products">
                            <h3>
                                Món ngon tại HCM The Grand View
                            </h3>
                            <button routerLink="/collections">
                                Xem menu quán
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</section>
<app-footer></app-footer>