.menu_item_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.menu_item_info a{
    color: #191919;
    text-decoration: none;
    font-size: 16px;
    transition: .5s;
}
.menu_item_info a:hover{    
    color: #ea8025;
}
.price_product_item p {
    color: #00000099;
    margin: 0;
}
.card {
    width: auto;
    height: 300px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    position: relative;
    transition: all .4s ease-out;
}
.card img{
    height: 100%;
    border-radius: 30px;
}
.cart-option-routerLink {
    font-size: 16px;
    line-height: 42px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: block;
    position: absolute;
    transition: all .2s ease-out 0s;
    visibility: hidden;
    z-index: 5;
    cursor: pointer;
}
.card:hover .cart-option-routerLink {
    visibility: visible;
    transition: all .3s ease 0s;
    background: rgba(131, 131, 131, 0.5);

}
.card:hover .cart-optionp-item{
    visibility: visible;
}
.cart-optionp-item{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.cart-option-icon{
    color: #2c2c2c !important;
    background: #fff;
    font-size: 16px;
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    position: relative;
    text-align: center;
    margin:  0 5px;
    z-index: 10;
}
.cart-option-icon:hover{
    background: #ffb644;
    transition: all .4s ease-out 0s;   
}
.cart-option-icon:hover i{
    color: #fff;
    transition: all .2s ease-out 0s;   
}
.title-item{
    color: #000;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
  }
  .title-item:hover{
    color: #ea9e12;
  
  }
// sale 
.sale {
	position: relative;
	display: inline-block;
	background: orange;
	color: white;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	margin-right: 12px;
	transform: rotate(-20deg);
	animation: beat 1s ease infinite alternate;
	&:before,
	&:after {
		content:"";
		position: absolute;
		background: inherit;
		height: inherit;
		width: inherit;
		top: 0;
		left: 0;
		z-index: -1;
		transform: rotate(30deg);
	}
	&:after {
		transform: rotate(60deg);
	}
}

/* ------animation-Add-to-cart button--------- */
.cart-optionp-item .cart:hover{
	background-color: #ffb644;
	color: #fff;
	transition: 1s;
	
	animation: wobble 1s ease-in-out 1;
}
.bath .cart:hover {
	background-color: #346;
	transition: 0.8s;
	/* transform: translateY(-5px); */
	animation: wobble 1s ease-in-out 1;
}

.perfume .cart:hover {
	background-color: #346;
	color: #fff;
	transition: 1s;
	animation: wobble 1s ease-in-out 1;
}
	

@keyframes wobble {
  16.65% { transform: translateY(8px); }
  33.3% { transform: translateY(-6px); }
  49.95% { transform: translateY(4px); }
  66.6% { transform: translateY(-2px); }
  83.25% { transform: translateY(1px); }
  100% { transform: translateY(0); }
}
// 
@keyframes beat {
	from {	transform: rotate(-20deg) scale(1); }
	to {	transform: rotate(-20deg) scale(1.1); }
}
  /*  */
  @media only screen and (min-width: 1200px){
    
  }
  @media only screen and (max-width: 991px){
      
  }
  @media only screen and (max-width: 768px){
      
  }
  @media only screen and (max-width: 496px){
    .card{
        height: 220px;
    }
  }