:host ::ng-deep .avatar-uploader > .ant-upload {
    width: 275px;
    height: 290px;
    margin: 0;
    margin-top: 65px;
  }
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.themsanpham{
    width: 1000px;
    height: auto;
}
.themsanpham-background{
    background: linear-gradient(to right, #d0e8ff, #7ab8f1, #3ea2ff);
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.themsanpham-background-icon  { 
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 4px 0px 0 49.5rem;
    background-color: unset;
    border: none;
    cursor: pointer;
    position: fixed;
}
.themsanpham-background-icon:hover  {
    color: red;
}
.themsanpham-background-input-text{
    margin: 0px 10px 0px 40px ;
    font-size: 15px;
    font-weight: 500;

}
.themsanpham-background-conten{
  
    text-transform: uppercase;
    position: relative;
    text-align: center;
    background-color: #fff;
    background: linear-gradient(to right, #bfbebe, #fff, #bfbebe);
}
.themsanpham-background-conten::after{
    content: "";
    position: absolute;
    top: 40%;
    left: 17%;
    width: 70px;
    height: 10px;
    background-color: #878787;
    transform: skew(-25deg);
}
.themsanpham-background-conten::before{
    content: "";
    position: absolute;
    top: 40%;
    right: 17%;
    width: 70px;
    height: 10px;
    background-color: #878787;
    transform: skew(-25deg);
}

.themsanpham-background-conten h1{
    margin-top: 8px;
    font-style: italic;
}
.themsanpham-background-botton p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.themsanpham-background-colum{
    width: 100%;

}
.themsanpham-background-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    margin-top: 15px;
}
/* login input */
.themsanpham-input{
   
  
}
.themsanpham-input-text{
    font-size: 18px;
    width: 100%;
    padding: 5px 0 5px 0 !important;
}

/* login botton */
.themsanpham-background-botton {
    text-align: center;
    padding-top: 15px;
}

.themsanpham-background-botton button{
    border-radius: 10px;
    width: 200px;
    height: 55px;
};

.themsanpham-background-botton p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

/* login img */
.themsanpham-background-img{
    font-size: 16px;
    top: 37px;
}
.invalid-feedback{
    position: absolute;
}
  /*  */
  nz-select {
    width: 100% !important;
    font-size: 18px!important;
  }
  .modal-backdrop.show {
    z-index: 1 !important;
  }
  .ant-select-dropdown {
    max-height: 110px !important;
  }
/* Form */
.form-text{
    margin-top: 20px;
    padding: 0 30px;
}
.form-text-top {
    background-color: #f6f6f6;
    border-radius: 8px 8px 0 0;
}
.form-text-top p{
    margin-bottom: 0;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #e0e0e0;
}
.ant-input-textarea-show-count{
    
}
.ant-input-textarea-show-count>.ant-input{
    border-radius: 0 0 8px 8px;
}
/* form Thông báo */
.ant-form-item-control{
    flex-grow: 0;
}
.ant-col-12{
    flex: none;
    max-width: 100%;
}
.ant-input-group .ant-input-affix-wrapper:not(:first-child){
    padding: 0 ;
    border-radius: 0 8px 8px 0  ;
}
.ant-select-selector {
    border: none !important;
}
nz-select-top-control{
    border: none;
}
.cke_chrome{
    border:none
}
.bg-popup-master-login-space-ckedior{

}
.title-top{
    height: 40px;
    background-color: #fafafa;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    font-weight: 700;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.title-top-img{
    background-color: #fafafa;
    height: 25px;
    border-left: 2px dashed #858585;
    border-top: 2px dashed #858585;
    border-right: 2px dashed #858585;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-weight: 600;
}
ngx-dropzone{
    height: 300px !important;
    justify-content: center;
 
}
ngx-dropzone-label{
    display: none !important;
}
ngx-dropzone-image-preview {
    height: 250px !important;
  
}
ngx-dropzone-image-preview img{
    width: 250px !important;
   
}