<app-navbar [gioHang]=gioHang></app-navbar>
<section class="section-pagetop bg">
    <div class="container-text">
        <h1 class="title-page">Sản phẩm yêu thích</h1>
    </div> 
</section>
<section class="">
    <div class="container">
        <main class="card">
            <div class=" table-shopping-cart">
            
            <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
            <tr class="small text-uppercase">
            <th scope="col">Hình</th>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col" width="120">Đơn giá</th>
              <th scope="col" class="text-right" width="200">option </th>
            </tr>
            </thead>
            <tbody>
                  <!-- ========================= Giỏ hàng ========================= -->
                  <tr   *ngFor="let ds of listYeuThich" >
                <td>
                    <figure class="itemside">
                        <div  class="aside"><img routerLink="/chi-tiet-san-pham/{{ds.idSanPham.id}}" src="{{ds.idSanPham.photo}}" class="img-sm"></div>
                        <figcaption class="info">
                            <h4 href="#" class="title text-dark"></h4>
                           
                        </figcaption>
                    </figure>
                </td>   
                <td> <p class="text-item" routerLink="/chi-tiet-san-pham/{{ds.idSanPham.id}}"> {{ds.idSanPham.sanpham}}</p></td>
              
                <td> 
                    <div class="price-wrap"> 
                        <var class="price">{{ds.idSanPham.gia | number}} VND</var> 
                        <!-- <small class="text-muted"> $315.20 each </small>  -->
                    </div> <!-- price-wrap .// -->
                </td>
                <td class="text-right"> 
                    <a (click)="themCart(ds.idSanPham)" class="btn btn-light mr-2" > <i class="fa fa-shopping-cart"></i></a> 
                    <a (click)="xoa(ds)" class="btn btn-light" > Xóa</a>
                </td>
            </tr>
            <!--  -->
            </tbody>
            </table>
             
            </div> <!-- card.// -->       
            </main> 
        </div>
</section>
<app-footer></app-footer>