	<section class="template">
        <div class=" ">
            <swiper [loop]="true" [autoHeight]="true" [allowTouchMove]="false"
                [autoplay]="{ delay: 1000, disableOnInteraction: false }" [pagination]="{ clickable: true }" [navigation]="true">
                <ng-template data-swiper-autoplay="6000" swiperSlide>
                    <div class="content--img">
                        <img routerLink="/collections" src="https://file.hstatic.net/1000075078/file/keothom_desktop_93b49bbc56e54a60a645a47beac25399.jpg" alt="" height="800" width="100%">
                      </div>
                </ng-template>
    
                <ng-template data-swiper-autoplay="6000" class="swiper-slide" swiperSlide>
                    <div class="content--img">
                        <img routerLink="/collections" src="https://file.hstatic.net/1000075078/file/combo89_desktop_fb9f6ae2a13a4068a4a2a84d50f21fe3.jpg" alt="" height="800" width="100%">
                      </div>
                </ng-template>
                <ng-template data-swiper-autoplay="6000" swiperSlide>
                    <div class="content--img">
                        <img routerLink="/collections" src="https://file.hstatic.net/1000075078/file/freeship_desktop_a796df9c403e45779c0c81f00d3a4c0f.jpg" alt="" height="800" width="100%">
                      </div>
                </ng-template>
            </swiper>
        </div>
    </section>
    <section class="conatiner">
            <div class=" banner-title">
                <!-- <div class="banner-title-shape">
                    <svg height="60" width="410" xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" height="60" width="410" />
                      </svg>
                    </div> -->
                    <h1>XU HƯỚNG NỔI BẬT</h1>
            </div>
    </section>
    <section class=" container">
        <div class="item-content row">
            <div class="item col-6 col-md-3">
                <div class="box">
                    <div routerLink="/chi-tiet-san-pham/53" class="content">
                        <p>Caramel Macchiato sẽ mang đến một sự ngạc nhiên thú vị khi vị thơm béo của bọt sữa, sữa tươi, vị đắng thanh thoát của cà phê Espresso hảo hạng và vị ngọt đậm của sốt caramel được gói gọn trong một tách cà phê.</p>
                    </div>
                    <img  src="https://product.hstatic.net/1000075078/product/caramel-macchiato_143623_d9433204d2d444a2961d00c179bb87f3_large.jpg" alt="">
                </div>
                <p routerLink="/chi-tiet-san-pham/53" class="item-text">Caramel Macchiato Đá</p>
                <span>55.000 VND</span>
            </div>
            <div class="item col-6 col-md-3">
                <div class="box">
                    <div routerLink="/chi-tiet-san-pham/54" class="content">
                        
                        <p>Với vẻ ngoài đáng yêu và hương vị ngọt ngào, thơm béo nhất định bạn phải thử ít nhất 1 lần.</p>
                   
                    </div>
                    <img src="https://product.hstatic.net/1000075078/product/1638170066_gau_d5013733f41b4fce96e9674129af958f_large.jpg" alt="">
                </div>
                <p routerLink="/chi-tiet-san-pham/54" class="item-text">Mousse Gấu Chocolate</p>
                <span>39.000 VND</span>
            </div>
            <div class="item col-6 col-md-3">
                
                <div class="box">
                    <div routerLink="/chi-tiet-san-pham/60" class="content">
                        
                       
                        <p>Hương vị chân ái đúng gu đậm đà với trà oolong được “sao” (nướng) lâu hơn cho hương vị đậm đà, hòa quyện với sữa thơm béo mang đến cảm giác mát lạnh, lưu luyến vị trà sữa đậm đà nơi vòm họng.</p>
                    </div>
                    <img src="https://product.hstatic.net/1000075078/product/1669736877_tra-sua-oolong-nuong-tran-chau_9572b448e2ed447dbc0c3f8b1419129a_large.png" alt="">
                </div>
                <p routerLink="/chi-tiet-san-pham/60" class="item-text">Trà sữa Oolong Nướng Trân Châu</p>
                <span>55.000 VND</span>
            </div>
            <div class="item col-6 col-md-3"> 
                <div class="box">
                    <div routerLink="/chi-tiet-san-pham/62" class="content">
                        
                        
                        <p>Chút ngọt ngào của Vải, mix cùng vị chua thanh tao từ trà hoa Hibiscus, mang đến cho bạn thức uống đúng chuẩn vừa ngon, vừa healthy.</p>
                    </div>
                    <img src="https://product.hstatic.net/1000075078/product/1669736893_hi-tea-vai_86427bfa982f48188db23833b7196f2a_large.png" alt="">
                </div>
                <p routerLink="/chi-tiet-san-pham/62" class="item-text">Hi-Tea Vải</p>
                <span>49.000 VND</span>
            </div>
        </div>
</section>
<section class="background-1">
    <div class="container">
        <div class="background-item row">
            <div class="background-1-img  col-12  col-md-6">
                <img src="https://file.hstatic.net/1000075078/file/cloudtea_1_44b35a015ef14a1ba798b209937eeeb7.png" alt="">
            </div>
            <div class="background-1-img background-1-text col-12 col-md-6 ">
                <img src="https://file.hstatic.net/1000075078/file/tagline_2_2a16d1acfd32480299bfd999e9e67afb.png" alt="">
                <p>Bộ sưu tập “Cầu Toàn Kèo Thơm” không chỉ là thức uống chăm da giữ dáng, mà còn là “vía may mắn” để năm mới thêm trọn vẹn. Với nền trà tốt cho sức khoẻ cùng hương vị mãng cầu và thơm giúp giải ngấy, topping đầy đặn, “Cầu Toàn Kèo Thơm” mang ý nghĩa sung túc cho năm 2023. Chiếc ly mèo đáng yêu còn như một lời chúc may mắn Nhà gửi đến bạn.</p>
                <button routerLink="/collections" (click)="gotoTop()" class="hover-2">    
                    Thử ngay
                </button>
            </div>
        </div>
    </div>
</section>
<section class="background-2">
    <div class="container">
        <div class="background-item row">
            <div class="background-2-text col-12  col-md-6">
                <h3>TCH The Grand View </h3>
                <p> Nhà mới Quận 7 toạ lạc tại khu đô thị The Grand View, với những khu phố hiện đại, sầm uất và nhộn nhiệp.</p>
                <button routerLink="/HcmTheGrand" (click)="gotoTop()" class="hover-2">    
                    Tìm hiểu thêm
                </button>
            </div>

            <div class="background-2-swiper col-12  col-md-6">
                <swiper class="background-2-swiper" [loop]="true" [autoHeight]="true" [allowTouchMove]="true" [allowSlideNext]="true"
                [autoplay]="{ delay:1000, disableOnInteraction: false }" [pagination]="{ clickable: true }" [navigation]="true">
                <ng-template data-swiper-autoplay="6000" swiperSlide>
                    <div class="content--img">
                        <img src="https://file.hstatic.net/1000075078/file/grandview5_35ccc48004574095b53e1de3b86a9eb5_master.jpg" alt="" height="800" width="100%">
                      </div>
                </ng-template>
    
                <ng-template data-swiper-autoplay="6000" class="swiper-slide" swiperSlide>
                    <div class="content--img">
                        <img src="https://file.hstatic.net/1000075078/file/grandview1_281ebbd42e1e40368c783002bfda0054_master.jpg" alt="" height="800" width="100%">
                      </div>
                </ng-template>
    
                <ng-template data-swiper-autoplay="6000" swiperSlide>
                    <div class="content--img">
                        <img src="https://file.hstatic.net/1000075078/file/grandview3_badde8d8296d4474b7ecb2ae67fb2dd8_master.jpg" alt="" height="800" width="100%">
                      </div>
                </ng-template>
                <ng-template data-swiper-autoplay="6000" swiperSlide>
                    <div class="content--img">
                        <img src="https://file.hstatic.net/1000075078/file/grandview4_a0b9416347f44d1b92910ce4725ac9d9_master.jpg" alt="" height="800" width="100%">
                      </div>
                </ng-template>
                <ng-template data-swiper-autoplay="6000" swiperSlide>
                    <div class="content--img">
                        <img src="https://file.hstatic.net/1000075078/file/grandview2_a48a6f2b6495492180138bfd09d22bb3_master.jpg" alt="" height="800" width="100%">
                      </div>
                </ng-template>
            </swiper>
            </div>
            <div  class="background-2-text-mb col-12  col-md-6">
                <h3 >TCH The Grand View </h3>
                <p> Nhà mới Quận 7 toạ lạc tại khu đô thị The Grand View, với những khu phố hiện đại, sầm uất và nhộn nhiệp.</p>
                <button routerLink="/HcmTheGrand" (click)="gotoTop()" class="hover-2">    
                    Tìm hiểu thêm
                </button>
            </div>
        </div>
    </div>
</section>
<section class="container-Design">
    <div class="container ">
        <div class="container-Design-title ">
            <div class="container-Design-text">
                <H2>KHÔNG GIAN THOẢI MÁI </H2>
                <H5>Phong cách tự nhiên</H5>
            </div>
        </div>
        <div class="container-content row">
            <div class="col-12">
                <div class="container-Design-content">
                    <div class="row container-Design-content-mobie">
                        <div class="overflow-img-mobie col-12">
                            <img src="https://topnlist.com/wp-content/uploads/2020/05/mau-thiet-ke-quan-ca-phe-tra-sua-01.jpg" alt="" >
                        </div>
                        <div class="container-Design-content-title col-12 col-md-8">
                           
                            <div class="container-Design-content-title-text">
                                <h3>Nơi lý tưởng</h3>
                                <p>Với không gian tông màu nâu của gỗ giúp không gian trở nên ấm áp, gần gũi hơn. Thích hợp cho một buổi giao lưu bạn bè,ffo fan, hẹn hò.</p>
                                <button class="snip1582" href="">Xem thêm chi tiết</button>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-img ">
                        <img src="https://topnlist.com/wp-content/uploads/2020/05/mau-thiet-ke-quan-ca-phe-tra-sua-01.jpg" alt="" >
                    </div>
                </div>
            </div>
            <div class=" col-12">
                <div class="container-Design-content">
                    <div class="row container-Design-content-mobie">
                        <div class="overflow-img-mobie col-12">
                            <img src="https://toplist.vn/images/800px/nha-hang-lang-man-nhat-thich-hop-hen-ho-vao-dip-valentine-tai-tp-hcm-253075.jpg" alt="" >
                        </div>
                        <div class="container-Design-content-title-text-mobie">
                            <h3>Tổ chức sự kiện</h3>
                            <p>Một nơi lạng mạng ấm ấp với các cặp đô nhân ngày kỷ nhiệm trong tình yêu.</p>
                            <button  class="snip1582" href="">Xem thêm chi tiết</button>
                        </div>
                    </div>
                    <div class="overflow-img">
                        <img src="https://toplist.vn/images/800px/nha-hang-lang-man-nhat-thich-hop-hen-ho-vao-dip-valentine-tai-tp-hcm-253075.jpg" alt="">
                    </div>
                    <div class="container-Design-content-title block">
                        <div class="container-Design-content-title-text">
                            <h3>Tổ chức sự kiện</h3>
                            <p>Một nơi lạng mạng ấm ấp với các cặp đô nhân ngày kỷ nhiệm trong tình yêu.</p>
                            <button  class="snip1582" href="">Xem thêm chi tiết</button>
                        </div>
                    </div>
                </div>
                 </div>
            <div class=" col-12">
                <div class="container-Design-content">
                    <div class="row container-Design-content-mobie">
                        
                        <div class="overflow-img-mobie col-12">
                            <img src="https://blog.dktcdn.net/files/8-quan-cafe-lam-viec-elle-man-0320.jpg" alt="" >
                        </div>

                        <div class="container-Design-content-title">
                            <div class="container-Design-content-title-text">
                                <h3>Không gian riêng biệt</h3>
                                <p>Nơi mà các bạn sinh viên có thể học tập và làm việc, luôn có nhân viên phục vụ hợ trợ mọi lúc.</p>
                                <button class="snip1582" href="">Xem thêm chi tiết</button>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-img">
                        <img src="https://blog.dktcdn.net/files/8-quan-cafe-lam-viec-elle-man-0320.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>